In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
data = pd.read_csv('volcdata.csv', encoding = 'unicode_escape', engine ='python')
data

,Year,Disaster Type,Disaster Subtype,Event Name,Country,ISO,Region,Continent,Latitude,Longitude,...,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI
0,1902,Volcanic activity,Ash fall,Mount Pelee,Martinique,MTQ,Caribbean,Americas,14.82N,61.17W,...,5.0,8.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,2.963048
1,1985,Volcanic activity,Ash fall,Nevado Del Ruiz,Colombia,COL,South America,Americas,4.895N,75.316W,...,11.0,13.0,21800.0,5000.0,7700.0,NaN,12700.0,1000000.0,2720684.0,36.755468
2,1902,Volcanic activity,Ash fall,Santa Maria,Guatemala,GTM,Central America,Americas,14.757N,91.552W,...,10.0,24.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,2.963048
3,1919,Volcanic activity,Ash fall,Mt. Kelud,Indonesia,IDN,South-Eastern Asia,Asia,7.937S,112.308E,...,5.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,5.937492
4,1951,Volcanic activity,Ash fall,Lamington,Papua New Guinea,PNG,Melanesia,Oceania,5.035S,150.383E,...,1.0,20.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,8.889143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2021,Volcanic activity,Ash fall,Volcano 'Yasur',Vanuatu,VUT,Melanesia,Oceania,NaN,NaN,...,10.0,22.0,NaN,NaN,3383.0,NaN,3383.0,NaN,NaN,92.590193
268,2022,Volcanic activity,Ash fall,Mount Semeru,Indonesia,IDN,South-Eastern Asia,Asia,NaN,NaN,...,12.0,5.0,NaN,NaN,2489.0,NaN,2489.0,NaN,NaN,100.000000
269,2022,Volcanic activity,NaN,Taal,Philippines (the),PHL,South-Eastern Asia,Asia,NaN,NaN,...,3.0,31.0,NaN,NaN,10415.0,NaN,10415.0,NaN,NaN,100.000000
270,2023,Volcanic activity,Ash fall,Mount Fuego,Guatemala,GTM,Central America,Americas,NaN,NaN,...,5.0,5.0,NaN,NaN,1054.0,NaN,1054.0,NaN,NaN,NaN
271,2023,Volcanic activity,Lava flow,Mount 'Mayon',Philippines (the),PHL,South-Eastern Asia,Asia,NaN,NaN,...,6.0,29.0,NaN,628.0,41500.0,NaN,42128.0,NaN,NaN,NaN